# Ege Bölgesi için bir kira tahmin uygulaması

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
def drop_columns(df, cols):
    """
    This function removes the columns from a DataFrame.
    """
    for col in cols:
        try:
            df.drop([col], axis=1, inplace=True)
        except Exception as e:
            print(f"Bir hata oluştu: {e}")

In [3]:
files = os.listdir('hepsiemlak')
df = pd.concat([pd.read_csv(f"hepsiemlak/{file}") for file in files], ignore_index=True)

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   img-link href        8136 non-null   object
 1   photo-count          8130 non-null   float64
 2   list-view-price      8136 non-null   object
 3   list-view-date       8136 non-null   object
 4   celly                8136 non-null   object
 5   celly 2              8136 non-null   object
 6   celly 3              8136 non-null   object
 7   celly 4              6858 non-null   object
 8   list-view-header     8129 non-null   object
 9   list-view-location   8136 non-null   object
 10  he-lazy-image src    7649 non-null   object
 11  left                 8114 non-null   object
 12  img-wrp href         4555 non-null   object
 13  he-lazy-image src 2  4067 non-null   object
 14  branded__text        134 non-null    object
 15  branded__text 2      134 non-null    object
 16  img-wrp href 2       133 non-null    object
 17  he-lazy-image src 3  116 non-null    object
dtypes: float64(1), object(17)
memory usage: 1.1+ MB
None

In [5]:
print(df.columns)

Index(['img-link href', 'photo-count', 'list-view-price', 'list-view-date',
       'celly', 'celly 2', 'celly 3', 'celly 4', 'list-view-header',
       'list-view-location', 'he-lazy-image src', 'left', 'img-wrp href',
       'he-lazy-image src 2', 'branded__text', 'branded__text 2',
       'img-wrp href 2', 'he-lazy-image src 3'],
      dtype='object')

In [6]:
cols = ['photo-count', 'list-view-date', 'list-view-header', 'list-view-location', 'he-lazy-image src', 'left', 'img-wrp href', 'he-lazy-image src 2', 'branded__text', 'branded__text 2', 'img-wrp href 2', 'he-lazy-image src 3']
drop_columns(df, cols)

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   img-link href    8136 non-null   object
 1   list-view-price  8136 non-null   object
 2   celly            8136 non-null   object
 3   celly 2          8136 non-null   object
 4   celly 3          8136 non-null   object
 5   celly 4          6858 non-null   object
dtypes: object(6)
memory usage: 381.5+ KB
None

In [8]:
df['location'] = df['img-link href'].apply(lambda x: x.split('/')[3])
df['city'] = df['location'].str.split('-').str[0]
df['district'] = df['location'].str.split('-').str[1]
df['neighborhood'] = df['location'].str.split('-').str[2:-1]
df['neighborhood'] = df['neighborhood'].apply(lambda x: '_'.join(x))

In [9]:
drop_columns(df, ['location', 'img-link href'])

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  8136 non-null   object
 1   celly            8136 non-null   object
 2   celly 2          8136 non-null   object
 3   celly 3          8136 non-null   object
 4   celly 4          6858 non-null   object
 5   city             8136 non-null   object
 6   district         8136 non-null   object
 7   neighborhood     8136 non-null   object
dtypes: object(8)
memory usage: 508.6+ KB
None

In [11]:
print(df[['city', 'district', 'neighborhood']].sample(50))

         city      district        neighborhood
4170  denizli     pamukkale         asmalievler
675     izmir       bornova               inonu
2334    izmir      bayrakli                emek
6364    mugla        bodrum            turkbuku
7343    mugla        bodrum             muskebi
916     izmir         cesme             alacati
3444    aydin       nazilli               yesil
2644    mugla      marmaris            orhaniye
7473    mugla        ortaca             ataturk
4499  denizli  merkezefendi         degirmenonu
4689    izmir         konak         mimar_sinan
2001    izmir       bergama           fevzipasa
7931    mugla        bodrum           yalikavak
1345    izmir         cesme             ciftlik
6169    mugla        bodrum           eskicesme
2368    izmir         cesme              dalyan
4810    izmir     karsiyaka           donanmaci
2827    izmir        odemis               zafer
1523    izmir         konak         mimar_sinan
1716    izmir        odemis            hurriyet
6370    mugla        bodrum           koyunbaba
8076    mugla       fethiye             ciftlik
1704    izmir     karsiyaka                tuna
5960    mugla        bodrum           yalikavak
5665    mugla       fethiye                foca
5090    izmir         cesme             alacati
4582  denizli     pamukkale             kinikli
1643    izmir         konak          mithatpasa
7650    mugla        ortaca           karaburun
3650    aydin      kusadasi                 ege
3934  denizli  merkezefendi         sirakapilar
7983    mugla        ortaca            beskopru
6544    mugla       dalaman              merkez
7045    mugla    seydikemer          cumhuriyet
5216    izmir          buca              laleli
7042    mugla       mentese          karamehmet
5108    izmir         cesme          cumhuriyet
7369    mugla        bodrum              dirmil
7585    mugla       dalaman             atakent
5691    mugla         datca              emecik
2176    izmir     karsiyaka             atakent
5513    izmir         cigli         kucuk_cigli
1194    izmir         cesme             alacati
676     izmir          buca           kurucesme
6928   manisa    sehzadeler      adnan_menderes
8050    mugla        bodrum           yalikavak
7127    mugla        bodrum             tepecik
5032    izmir         cesme             alacati
1525    izmir    guzelbahce  mustafa_kemal_pasa
6369    mugla      koycegiz               yangi